*.ml-e
*.mli-e
*.cm*
*.o
*.run
*.opt
*.annot
*.omc
*.lock
*.a
.omakedb
.*
dog_b.ml
dog_b.mli
dog_j.ml
dog_j.mli
dog_t.ml
dog_t.mli
model_b.ml
model_b.mli
model_j.ml
model_j.mli
model_t.ml
model_t.mli
proto_b.ml
proto_b.mli
proto_j.ml
proto_j.mli
proto_t.ml
proto_t.mli
tS_b.ml
tS_b.mli
tS_j.ml
tS_j.mli
tS_t.ml
tS_t.mli
